body {
    background: #f3f3f3;
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #aaa;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #0051ff;
    color: white;
    border: none;
    cursor: pointer;
}
