body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.contenedor {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 230px;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}

.producto img {
    width: 100%;
    border-radius: 8px;
}

button {
    background: #0d6efd;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0a58ca;
}
